a.current {
    font-style: italic;
}

span.lineno {
	color: white;
}

span.lineno:after {
	content: ":";
}

code {
	color: #b5e853;
}

footer {
	text-align: center;
}

span.next, span.prev {
	font-size: 12px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	display: block;
	margin-bottom: 10px;
}

section#toc ul li {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
